* {
    margin: 0;
    padding: 0;
}

/* Nav style */
nav {
    display: flex;
    justify-content: space-between;
}

nav>ul>li>a {
    text-decoration: none;
}

nav>.links {
    display: flex;
    gap: 1em;
    list-style: none;
    margin-top: 4.5%;
    margin-right: 13.3em;
    font-weight: 500;
    font-size: 18px;
}

nav>.name {
    margin-top: 1.01em;
    margin-left: 5.07em;
    font-weight: 700;
    font-size: 45px;
}